<div style="min-width: 83vw;">
    <app-header></app-header>
    <div class="card col-md-6 mt-3" style="margin-left: auto; margin-right: auto;" >
      <div class="card-header bg-primary text-white">
        <h4>Nuevo Type Pokemon</h4>
      </div>
  
      <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong>{{errorMsj}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  
      <div class="card-body">        
        <form [formGroup]="typePokemonForm">
          <div class="form-group">
            <input
              formControlName="name"
              autocomplete="on"              
              [(ngModel)]="typePokemon.name"
              type="text"
              class="form-control mb-2"
              [ngClass]="{'is-invalid':name?.invalid && (name?.dirty || name?.touched), 'is-valid':name?.valid}"
              placeholder="Name">
          </div>
          <span *ngIf="name?.invalid && (name?.dirty || name?.touched) && name?.errors?.['required']" class="text-danger">El campo name es requerido</span>
  
          <div class="form-group mt-3">
            <input
              formControlName="styleBackGround"
              autocomplete="on"
              [(ngModel)]="typePokemon.styleBackGround"
              type="text"
              class="form-control mb-2"
              [ngClass]="{'is-invalid':styleBackGround?.invalid && (styleBackGround?.dirty || styleBackGround?.touched), 'is-valid':styleBackGround?.valid}"
              placeholder="Style Back-Ground">
          </div>
          <span *ngIf="styleBackGround?.invalid && (styleBackGround?.dirty || styleBackGround?.touched)" class="text-danger">El campo style Back-Ground es requerido</span>
            
          <div class="d-flex justify-content-between">            
              <button
              [disabled]="typePokemonForm.invalid"
              (click)="submitForm()"
              type="button"
              class="btn btn-primary mt-3">Crear Type Pokemon</button>

              <a routerLink="/mantenedor-type-pokemon/manage" class="btn btn-secondary mt-3">Cancelar</a>            
          </div>
          <span *ngIf="error" class="text-danger">{{errorMsj}}</span>
        </form>
      </div>
    </div>
  </div>
