<div style="min-width: 83vw;">
    <app-header></app-header>
    <div class="d-flex col-md-8">
        <div class="col-md-1 d-felx">
            &nbsp;
        </div>
        <div class="card col-md-6 mt-3" style="margin-left: auto; margin-right: auto;" >
            <div class="card-header bg-primary text-white">
            <h4>ACTUALIZAR POKEMON</h4>
            </div>
                    
            <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!</strong>{{errorMsj}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        
            <div class="card-body">      
            <form [formGroup]="pokemonForm">

                <div class="form-group">
                    <input
                    formControlName="id"                    
                    [(ngModel)]="pokemon._id"
                    type="text"
                    class="form-control mb-2"                    
                    readonly>
                </div>
                <div class="form-group">
                <input
                    formControlName="name"
                    autocomplete="on"              
                    [(ngModel)]="pokemon.name"
                    type="text"
                    class="form-control mb-2"
                    [ngClass]="{'is-invalid':name?.invalid && (name?.dirty || name?.touched), 'is-valid':name?.valid}"
                    placeholder="Name">
                </div>
                <span *ngIf="name?.invalid && (name?.dirty || name?.touched) && name?.errors?.['required']" class="text-danger">El campo name es requerido</span>
                
                <div class="form-group mt-3">
                <input
                    formControlName="poster"
                    autocomplete="on"
                    [(ngModel)]="pokemon.poster"
                    type="text"
                    class="form-control mb-2"
                    [ngClass]="{'is-invalid':poster?.invalid && (poster?.dirty || poster?.touched), 'is-valid':poster?.valid}"
                    placeholder="Poster">
                </div>
                <span *ngIf="poster?.invalid && (poster?.dirty || poster?.touched)" class="text-danger">El campo poster es requerido</span>
                
                <div class="form-group mt-3">Seleccione los tipos de pokemon:</div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mt-1 g-2">
                    
                <div formArrayName="typesPokemon" *ngFor="let tipo of typesPokemonFormArray.controls; let i = index" class="col">
                    <div class="card shadow-sm">
                    <div class="container">
                        <div class="row align-items-start">
                        <div class="col-1">
                            <input type="checkbox" [formControlName]="i">
                        </div>
                        <div class="col">
                            <span class="pill {{listTypePokemon[i].styleBackGround}}">{{listTypePokemon[i].name}}</span>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>                
                </div>
                
                <div class="d-flex justify-content-between">            
                    <button
                    [disabled]="pokemonForm.invalid"
                    (click)="submitForm()"
                    type="button"
                    class="btn btn-primary mt-3">Actualizar Pokemon</button>
    
                    <a routerLink="/mantenedor-pokemon/manage" class="btn btn-secondary mt-3">Cancelar</a>            
                </div>
                <span *ngIf="error" class="text-danger">{{errorMsj}}</span>            
            </form>
            </div>        
        </div>

        <div class="col-md-6 d-felx">
            <div class="p-5">
            <img [src]="urlImg" style="max-width: 100%;">
            </div>
        </div>
    </div>    
  </div>

